# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!infra/dev.tfvars
!infra/staging.tfvars
!infra/prod.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
bastion-key.pem
*_override.tf.json
.terraform.lock.hcl

# Ansible
*.retry
__pycache__/


# Python venvs
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# OS junk
.DS_Store

# Editor/IDE (optional)
.vscode/
.idea/
app/venv/