name: Terraform Dev - Plan & Apply

on:
  pull_request:
    paths:
      - "infra/**"
  push:
    branches:
      - main
    paths:
      - "infra/**"

jobs:
  terraform-plan:
    name: Terraform Plan (PR)
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform init
        run: terraform -chdir=infra init -input=false

      - name: Terraform fmt
        run: terraform -chdir=infra fmt -check

      - name: Terraform validate
        run: terraform -chdir=infra validate

      - name: Terraform plan
        run: terraform -chdir=infra plan -input=false -var-file=dev.tfvars

  terraform-apply:
    name: Terraform Apply (main)
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    environment: dev  # you can create this Environment in GitHub for extra safety sake

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform init
        run: terraform -chdir=infra init -input=false

      - name: Terraform fmt
        run: terraform -chdir=infra fmt -check

      - name: Terraform validate
        run: terraform -chdir=infra validate

      - name: Terraform apply
        run: terraform -chdir=infra apply -input=false -auto-approve -var-file=dev.tfvars
